@import ../abstract/_base.scss
    
.cards
    @include align()
    gap: 5%
    
    .card
        border: 3px solid $cor1
        img
            object-fit: cover
            max-height: 210px
        