@import ../abstract/_base.scss

.imagem-carrossel
    object-fit: cover
    object-position: 30% 70%
    height: 500px
    background-position: center

.carousel-caption
    /*Centraliza o título*/
    height: 50%
    
    .title-carousel
        font-family: $fonte-pacifico
        font-size: 3em