@import ../abstract/_mixins.scss
@import ../abstract/_base.scss

.first-message
    @include align()
    flex-direction: column
    height: 18vh
    padding: 2%
    
    h2
        font-family: $fonte-pacifico
        color: $cor1
    p
        font-size: 1.1em